@{
    ViewBag.Title = "AddNewVendorAndVendorPool";
}

<div>
    <div class="container">
        <div class="row justify-content-sm-start">
            <div class="col col-4" style="padding-left: 0">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" style="padding: 3px 10px; background-color: #cccccc" href="@Url.Action("Index", "Home")">Admin Home:</a>
                    <a class="list-group-item list-group-item-action" style="padding: 3px 10px; background-color: #cccccc" href="@Url.Action("ReOpenSRO", "Home")">Re-Open RSO</a>
                    <a class="list-group-item list-group-item-action" style="padding: 3px 10px; background-color: #cccccc" href="@Url.Action("DeleteEligibilityAppliedAndResetStatus", "Home")">Delete Eligibility Applied and Reset Status</a>
                    <a class="list-group-item list-group-item-action" style="padding: 3px 10px; background-color: #cccccc" href="@Url.Action("AddInspector", "Home")">Add Inspector</a>
                    <a class="list-group-item list-group-item-action active" style="padding: 3px 10px" href="@Url.Action("AddNewVendorAndVendorPool", "Home")">Add New Vendor and Vendor Pool</a>
                    <a class="list-group-item list-group-item-action" style="padding: 3px 10px; background-color: #cccccc" href="@Url.Action("ChangeCRAStatusToInspecting", "Home")">Change CRA Status to Inspecting</a>
                    <a class="list-group-item list-group-item-action" style="padding: 3px 10px; background-color: #cccccc" href="@Url.Action("AddVendorCodeToVendorsTable", "Home")">Add Vendor Code</a>
                </div>
            </div>
            <div class="col col-sm">
                <h2>Add New Vendor and Vendor Pool</h2>
            </div>
        </div>
    </div>
</div>

