
@model Vendor
@{
    ViewBag.Title = "AddNewVendorAndVendorPool";
}

<div>
    <div class="container">
        <div class="row justify-content-sm-start">
            <div class="col col-4" style="padding-left: 0">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" style="padding: 3px 10px; background-color: #cccccc" href="@Url.Action("Index", "Home")">Admin Home:</a>
                    <a class="list-group-item list-group-item-action" style="padding: 3px 10px; background-color: #cccccc" href="@Url.Action("ReOpenSRO", "Home")">Re-Open RSO</a>
                    <a class="list-group-item list-group-item-action" style="padding: 3px 10px; background-color: #cccccc" href="@Url.Action("DeleteEligibilityAppliedAndResetStatus", "Home")">Delete Eligibility Applied and Reset Status</a>
                    <a class="list-group-item list-group-item-action" style="padding: 3px 10px; background-color: #cccccc" href="@Url.Action("AddInspector", "Home")">Add Inspector</a>
                    <a class="list-group-item list-group-item-action active" style="padding: 3px 10px" href="@Url.Action("AddNewVendor", "Home")">Add New Vendor</a>
                    <a class="list-group-item list-group-item-action" style="padding: 3px 10px; background-color: #cccccc" href="@Url.Action("AddVendorToVendorPool", "Home" )">Add New Vendor Pool</a>
                    <a class="list-group-item list-group-item-action" style="padding: 3px 10px; background-color: #cccccc" href="@Url.Action("ChangeCRAStatusToInspecting", "Home")">Change CRA Status to Inspecting</a>
                    <a class="list-group-item list-group-item-action" style="padding: 3px 10px; background-color: #cccccc" href="@Url.Action("AddVendorCodeToVendorsTable", "Home")">Add Vendor Code</a>
                </div>
            </div>
            <div class="col col-sm">
                <h2>Add New Vendor</h2>
                @if (TempData["ConfirmMessage"] != null)
                {
                    <div class="alert alert-warning" style="margin-bottom:0">
                        <strong>Alert!</strong> @TempData["ConfirmMessage"]
                        
                    </div>
                }
                @if (TempData["AlertMessage"] != null)
                {
                    <div class="alert-success" style="margin-bottom:0">
                        <strong>Success!</strong> @TempData["AlertMessage"]
                    </div>
                }
                @if ((TempData["ErrorMessage"] != null))
                {
                    <div class="alert alert-danger" style="margin-bottom:0">
                        <strong>Error: </strong>@TempData["ErrorMessage"]
                    </div>
                }
                @using (Html.BeginForm())
                {
                    <br />
                    <form action="AddInspector" method="post">
                        <table>
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <tr>
                                    <td></td>
                                    <td>@Html.ValidationMessageFor(i => i.vendorCode, "", new { @class = "text-danger" })</td>
                                </tr>
                            }
                            <tr>
                                <td style="padding-bottom: 15px">Vendor Code: </td>
                                <td style="padding-bottom: 15px; padding-left: 15px">@Html.TextBoxFor(i => i.vendorCode, new { @class = "form-control", required = "required", style = "border-color:darkgray" })</td>
                            </tr>
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <tr>
                                    <td></td>
                                    <td>@Html.ValidationMessageFor(i => i.vendorName, "", new { @class = "text-danger" })</td>
                                </tr>

                            }
                            <tr>
                                <td style="padding-bottom: 15px">Vendor Name: </td>
                                <td style="padding-bottom: 15px; padding-left: 15px">@Html.TextBoxFor(i => i.vendorName, new { @class = "form-control", required = "required", style = "border-color:darkgray" })</td>
                            </tr>
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <tr>
                                    <td></td>
                                    <td>@Html.ValidationMessageFor(i => i.vendorPoolId, "", new { @class = "text-danger" })</td>
                                </tr>

                            }
                            <tr>
                                <td style="padding-bottom: 15px">Vendor Pool Id: </td>
                                <td style="padding-bottom: 15px; padding-left: 15px">@Html.TextBoxFor(i => i.vendorPoolId, new { @class = "form-control", @maxvalue = int.MaxValue, required = "required", style = "border-color:darkgray" })</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="2" style="padding-bottom: 15px; float: right"><input type="submit" class="btn btn-info" name="btnSubmit" value="Add Vendor" /></td>
                                @if (TempData["ConfirmMessage"] != null)
                                {
                                    <td colspan="2" style="padding-bottom: 15px; float: right"><input type="submit" class="btn btn-success" name="btnSubmit" value="Confirm" /></td>
                                }

                            </tr>
                        </table>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

